# Gradle files
.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# Android Studio files
.idea/
*.iml

# Signatures
*.jks
*.keystore

# Local configuration files
local.properties
*.log

# OS specific files
.DS_Store
Thumbs.db

# Miscellaneous
*.apk
*.aab
*.cxx/
# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/
# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/lib/test/
*.env
# Symbolication related
app.*.symbols
# Obfuscation related
app.*.map.json
./line_counter
# Android Studio will place build artifacts here
#/lib/helpers/workout_json_adapter.g.dart
